.card {
    display: flex;
    width: 360px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

.contactData>p {
    color: black;
    line-height: 2;
}

.card>button {
    margin-left: auto;
    height: 44px;
    align-self: center;
}