  .modal {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    padding: 20px;
    border-radius: 5px;
  }
  
 img {
    width: 90%;
    height: 90%;
  }

.ReactModal__Overlay, 
.ReactModal__Overlay--after-open
  {background-color: rgba(0, 0, 0, 0.75);}
  